PORT=5000
MONGO_URI=mongodb+srv://pathfinderuser:Pathfinder123@pathfinder.sfp0jnh.mongodb.net/pathfinder?retryWrites=true&w=majority
JWT_SECRET=mysecretkey123
GROQ_API_KEY=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